".text.html.asp.net":
  "asp:TemplateColumn Checkbox":
    prefix: "asp:"
    body: '''
      <asp:TemplateColumn HeaderText="${1:`echo $TM_SELECTED_TEXT`}" Visible="True">
      	<itemtemplate><asp:CheckBox ID="${1:`echo $TM_SELECTED_TEXT`}" runat="server" Checked='<%# Users.FieldValue("${1:`echo $TM_SELECTED_TEXT`}", Container) %>' enabled="false" /></itemtemplate>
      	<edititemtemplate>
      		<asp:CheckBox ID="${1:`echo $TM_SELECTED_TEXT`}" runat="server" Checked='<%# Users.FieldValue("${1:`echo $TM_SELECTED_TEXT`}", Container) %>' />
      	</edititemtemplate>
      </asp:TemplateColumn>
      
    '''
  "# Container.DataItem":
    prefix: "#"
    body: "<%# DataBinder.Eval(Container.DataItem, \"${1:ColumnName}\"${2:, \"{0:C\\}\"}) %>$0"
  "asp:BoundColumn":
    prefix: "asp:"
    body: "<asp:BoundColumn HeaderText=\"${1:ColumnName}\" DataField=\"${1:ColumnName}\" SortExpression=\"${1:ColumnName}\" ${2:ReadOnly=\"True\" ${3:DataFormatString=\"{0:C\\}\" FooterText=\"${1:ColumnName}\" }}/>"
  "asp:TemplateColumn":
    prefix: "asp:"
    body: '''
      <asp:TemplateColumn HeaderText="${1:ColumnName}" ${2:ReadOnly="True" ${3:FooterText="${1:ColumnName}" }}>
      	<ItemTemplate>${9:
      		<%# DataBinder.Eval(Container.DataItem, "${1:ColumnName}"${8:, "{0:C\\}"}) %>$0
      	}</ItemTemplate>${10:
      	<EditItemTemplate>${11:
      		<input name="${1:ColumnName}" type="text" value="<%# DataBinder.Eval(Container.DataItem, "${1:ColumnName}"${8:, "{0:C\\}"}) %>" size="" maxlength="" />
      	}</EditItemTemplate>}
      </asp:TemplateColumn>
    '''
".source.asp":
  Function:
    prefix: "function"
    body: '''
      Function ${1:Process}(${2:This_Item} As ${3:String}) As ${4:Boolean}
      	Return ${5:True}$0
      End Function
      
    '''
  "SQLDataReader Loop":
    prefix: "sql"
    body: '''
      Dim con$4 as new System.Data.SQLClient.SQLConnection(System.Configuration.ConfigurationSettings.AppSettings("${3:MM_CONNECTION_STRING_TIW_LIVE}")) 
      con$4.Open()
      	Dim strSQL$4 as String = "${1:SELECT * FROM Users WHERE Clue > 0}"
      	Dim    com$4 as new System.Data.SQLClient.SQLCommand(strSQL$4, Con$4)
      	Dim      r$4 as System.Data.SQLClient.SQLDataReader = Com$4.ExecuteReader()
      	While    r$4.Read()
      		${5:r$4(0)}$0
      	End While
      	r$4.Close()
      con$4.close()
      
    '''
  Sub:
    prefix: "sub"
    body: '''
      sub ${2:Process}(${2:sender as Object, e as EventArgs})
      	${1:'Do that thing you do}$0
      end sub
      
    '''
  "Hilight Search Terms(TEXT)":
    prefix: "format"
    body: "${3:IIf(Request.Querystring(\"s\")<>\"\",Regex.Replace(${1:\"Hello World!!!1!\"}, \"(\"& Request.Querystring(\"s\") &\")\", \"<${2:span} class='ss'>$1</${2:span}>\"),$1)}"
  "Regex.Replace()":
    prefix: "write"
    body: "${10:Regex.Replace(${1:\"Hello World!!!!1!\"}$0,\"${3:[^_\\w\\d\\s]}\",\"$4\")}"
  "Response.Write()":
    prefix: "write"
    body: "${3:Response.Write(${1:\"Hello World!!!!1!\"})}"
  "SQLDataReader Bound":
    prefix: "sql"
    body: '''
      Dim conn$1 as New SqlConnection(ConfigurationSettings.AppSettings("${4:MM_CONNECTION_STRING_TIW_LIVE}"))'1. Create a connection
      Const strSQL$1 as String = "${2:SELECT * FROM Users WHERE Clue > 0}"'2. Create the command object, passing in the SQL string
      Dim comm$1 as New SqlCommand(strSQL$1, conn$1)
      conn$1.Open()
        ${1:IdOfThinggy}.DataSource = comm$1.ExecuteReader(CommandBehavior.CloseConnection)
        ${1:IdOfThinggy}.DataBind()'Set the datagrid's datasource to the datareader and databind 
      conn$1.Close()$0
    '''
  SqlCommand:
    prefix: "sql"
    body: '''
      Dim $4_CON As New System.Data.SQLClient.SQLConnection(System.Configuration.ConfigurationSettings.AppSettings("MM_CONNECTION_STRING_${2:CFC_LIVE}"))
      Dim $4_COM As New System.Data.SQLClient.SqlCommand( "${1:UPDATE Users SET Clue = 1 WHERE username = 'taylott'}", $4_CON)
      $4_COM.Connection.Open()
      $4_COM.ExecuteNonQuery()
      $4_COM.Connection.Close()
      
    '''
  "String.Format()":
    prefix: "format"
    body: "${3:String.Format(\"${2:{0:c\\}}\", ${1:price})}"
".text.html.asp .string:not(.source)":
  "IIf() \"\" html":
    prefix: "IIf"
    body: "<%= IIf(${2:Is_This_True?},\"${1:True}\",${4:\"$3\"})$0 %>"
".source.asp .string":
  "IIf() \"\"":
    prefix: "IIf"
    body: "\"& IIf(${2:Is_This_True?},\"${1:True}\",${4:\"$3\"})$0 &\""
".source.asp:not(.source .string), .text .string .source.asp:not(.source .string)":
  "IIf()":
    prefix: "IIf"
    body: "IIf(${1:Is_This_True?},${2:true},${3:false})$0"
".text.html.asp":
  "If then HTML":
    prefix: "IIf"
    body: "<% if ${2:Is_This_True?} %>${1:True}${4:<% else %>$3}<% end if %>$0"
  "MM:DataGrid Sort Page Edit":
    prefix: "datagrid"
    body: '''
      ${9:<div id="search_${1:Orders}">
        <form action="" method="get">
          Search <input name="s" value="<%= Request.Querystring("s") %>" />
          <input type="submit" value="Search ${1:Orders}" />
        </form>
      </div>
      }<div id="${1:Orders}">
      ${7:	<%@ Register TagPrefix="MM" Namespace="DreamweaverCtrls" Assembly="DreamweaverCtrls,version=1.0.0.0,publicKeyToken=836f606ede05d46a,culture=neutral" %>
      	<mm:pagebind runat="server" PostBackBind="true" />
      }	<mm:dataset ID="${1:Orders}"
      	 runat="Server"
      	 IsStoredProcedure="false"
      	 ConnectionString='<%# System.Configuration.ConfigurationSettings.AppSettings("MM_CONNECTION_STRING_${3:Common_LIVE}") %>'
      	 DatabaseType='<%# System.Configuration.ConfigurationSettings.AppSettings("MM_CONNECTION_DATABASETYPE_${3:Common_LIVE}") %>'
      	 CommandText='<%# "${2:select * from users where clue is not null}    ORDER BY "+ IIf((Not Request.Querystring("sortOn") Is Nothing), Request.Querystring("sortOn"), "${4:username}") +" "+ Request.Querystring("sortDir") %>'
      	 Debug="true" PageSize="25"
      	 >
      		<parameters>${5:
      			<parameter  name="@s"  value='<%# "%" + IIf((Not Request.Querystring("s") Is Nothing), Request.Querystring("s"), "") + "%" %>'  type="VarChar"   />
      		}</parameters>${6:
      		<editops>
      			<editopstable name="dbo.tblFedExSecurity" />
      			<parameter name="password"          type="NVarChar" />
      			<parameter name="customerid"        type="NVarChar" />
      			<parameter name="locationid"        type="Int"      />
      			<parameter name="style"             type="NVarChar" />
      			<parameter name="sub_style"         type="SmallInt" />
      			<parameter name="make_style"        type="SmallInt" />
      			<parameter name="shipping_method"   type="SmallInt" />
      			<parameter name="type"              type="NVarChar" />
      			<parameter name="role"              type="NVarChar" />
      			<parameter name="phone"             type="NVarChar" />
      			<parameter name="email"             type="VarChar"  />
      			<parameter name="viewreport"        type="Bit"      />
      			<parameter name="viewreportnumbers" type="Bit"      />
      			<parameter name="viewreportmoney"   type="Bit"      />
      			<parameter name="viewtracking"      type="Bit"      />
      			<parameter name="addlocations"      type="Bit"      />
      			<parameter name="viewlocations"     type="Bit"      />
      			<parameter name="sendemail"         type="Bit"      />
      			<parameter name="fundsallocation"   type="Bit"      />
      			<parameter name="supplyordering"    type="Bit"      />
      			<parameter name="generatecalltag"   type="Bit"      />
      			<parameter name="generateprp"       type="Bit"      />
      			<parameter name="viewlogins"        type="Bit"      />
      			<parameter name="createlogins"      type="Bit"      />
      			<parameter name="${4:username}" type="NVarChar" isprimary="true" />
      		</editops>}
      	</mm:dataset>
      	<script runat="server">
      	Sub ${1:Orders}_sortCommand(sender as Object, e as DataGridSortCommandEventArgs)
      		dim sortDir as string = ""
      		if Request.QueryString("sortOn") = e.SortExpression then
      			if (Request.QueryString("sortDir") = "")
      				sortDir = "ASC"
      			else if (Request.QueryString("sortDir") = "ASC")
      				sortDir = "DESC"
      			else if (Request.QueryString("sortDir") = "DESC")
      				sortDir = "ASC"
      			end if
      		else
      			sortDir = "ASC"
      		end if
      		Response.Redirect(Request.ServerVariables("SCRIPT_NAME") + "?sortOn=" + e.SortExpression + "&sortDir=" + sortDir + "&s=" + Request.Querystring("s"))
      	end sub
      	</script>
      	<asp:DataGrid ID="${1:Orders}_DG"
      				DataKeyField="${4:username}"
      				AutoGenerateColumns="true"
      			
      				runat="server"
      				AllowSorting="true"
      				OnSortCommand="${1:Orders}_sortCommand"
      			
      				DataSource="<%# ${1:Orders}.DefaultView %>"
      				OnItemDataBound="${1:Orders}.OnDataGridItemDataBound"
      				OnEditCommand="${1:Orders}.OnDataGridEdit"
      				OnUpdateCommand="${1:Orders}.OnDataGridUpdate"
      				OnDeleteCommand="${1:Orders}.OnDataGridDelete"
      				OnCancelCommand="${1:Orders}.OnDataGridCancel"
      			
      				AllowPaging="true"
      				AllowCustomPaging="true"
      				PageSize="<%# ${1:Orders}.PageSize %>"
      				OnPageIndexChanged="${1:Orders}.OnDataGridPageIndexChanged"
      				virtualitemcount="<%# ${1:Orders}.RecordCount %>"
      				PagerStyle-Mode="NumericPages"
      			
      				ShowHeader="true"
      				ShowFooter="false"
      		>
      		<headerstyle           CssClass="headerstyle"          />
      		<itemstyle             CssClass="itemstyle"            />
      		<alternatingitemstyle  CssClass="alternatingitemstyle" />
      		<footerstyle           CssClass="footerstyle"          />
      		<pagerstyle            CssClass="pagerstyle"           />
      		<columns>
      			<asp:EditCommandColumn  ButtonType="LinkButton"  CancelText="Cancel"  EditText="Edit"  HeaderText="Edit"  UpdateText="Update"  visible="True"/>
      			$0
      		</columns>
      	</asp:DataGrid>
      </div>
      
    '''
  "MM:DataGrid Sort Page Search":
    prefix: "datagrid"
    body: '''
      ${9:<div id="search_${1:Orders}">
        <form action="" method="get">
          Search <input name="s" value="<%= Request.Querystring("s") %>" />
          <input type="submit" value="Search ${1:Orders}" />
        </form>
      </div>
      }<div id="${1:Orders}">
      ${7:	<%@ Register TagPrefix="MM" Namespace="DreamweaverCtrls" Assembly="DreamweaverCtrls,version=1.0.0.0,publicKeyToken=836f606ede05d46a,culture=neutral" %>
      	<mm:pagebind runat="server" PostBackBind="true" />
      }	<mm:dataset ID="${1:Orders}"
      	 runat="Server"
      	 IsStoredProcedure="false"
      	 ConnectionString='<%# System.Configuration.ConfigurationSettings.AppSettings("MM_CONNECTION_STRING_${3:Common_LIVE}") %>'
      	 DatabaseType='<%# System.Configuration.ConfigurationSettings.AppSettings("MM_CONNECTION_DATABASETYPE_${3:Common_LIVE}") %>'
      	 CommandText='<%# "${2:select * from users where clue is not null}    ORDER BY "+ IIf((Not Request.Querystring("sortOn") Is Nothing), Request.Querystring("sortOn"), "${4:username}") +" "+ Request.Querystring("sortDir") %>'
      	 Debug="true" PageSize="25"
      	 >
      		<parameters>${5:
      			<parameter  name="@s"  value='<%# "%" + IIf((Not Request.Querystring("s") Is Nothing), Request.Querystring("s"), "") + "%" %>'  type="VarChar"   />
      		}</parameters>
      	</mm:dataset>
      	<script runat="server">
      	Sub ${1:Orders}_sortCommand(sender as Object, e as DataGridSortCommandEventArgs)
      		dim sortDir as string = ""
      		if Request.QueryString("sortOn") = e.SortExpression then
      			if (Request.QueryString("sortDir") = "")
      				sortDir = "ASC"
      			else if (Request.QueryString("sortDir") = "ASC")
      				sortDir = "DESC"
      			else if (Request.QueryString("sortDir") = "DESC")
      				sortDir = "ASC"
      			end if
      		else
      			sortDir = "ASC"
      		end if
      		Response.Redirect(Request.ServerVariables("SCRIPT_NAME") + "?sortOn=" + e.SortExpression + "&sortDir=" + sortDir + "&s=" + Request.Querystring("s"))
      	end sub
      	</script>
      	<asp:DataGrid ID="${1:Orders}_DG"
      				DataKeyField="${4:username}"
      				AutoGenerateColumns="true"
      				
      				runat="server"
      				AllowSorting="true"
      				OnSortCommand="${1:Orders}_sortCommand"
      				
      				DataSource="<%# ${1:Orders}.DefaultView %>"
      				OnItemDataBound="${1:Orders}.OnDataGridItemDataBound"
      				
      				AllowPaging="true"
      				AllowCustomPaging="true"
      				PageSize="<%# ${1:Orders}.PageSize %>"
      				OnPageIndexChanged="${1:Orders}.OnDataGridPageIndexChanged"
      				virtualitemcount="<%# ${1:Orders}.RecordCount %>"
      				PagerStyle-Mode="NumericPages"
      				PagerStyle-Position="${10:Bottom|Top|TopAndBottom}"
      				
      				ShowHeader="true"
      				ShowFooter="false"
      				EnableViewstate="false"
      		>
      		<headerstyle           CssClass="headerstyle"          />
      		<itemstyle             CssClass="itemstyle"            />
      		<alternatingitemstyle  CssClass="alternatingitemstyle" />
      		<footerstyle           CssClass="footerstyle"          />
      		<pagerstyle            CssClass="pagerstyle"           />
      		<columns>
      			$0
      		</columns>
      	</asp:DataGrid>
      </div>
      
    '''
  "<%= %>":
    prefix: "="
    body: "<%= $0 %>"
  "<%>":
    prefix: "p"
    body: "<%${2:=} ${1:Content}$0 %>"
